Convert PDF to JSON.json
{
  "createdAt": "2025-07-28T16:26:21.528Z",
  "updatedAt": "2025-07-28T17:03:01.000Z",
  "id": "VuyXC1anJeThwhS5",
  "name": "Convert PDF to JSON",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -128,
        -144
      ],
      "id": "d95fa840-9fa7-4254-b988-dcdf044ffe6a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -352,
        -144
      ],
      "id": "94b23da7-378d-4ecf-ab85-2b1caf2a4768",
      "name": "When chat message received",
      "webhookId": "7eb56cee-637c-4338-b7ec-9ada3199e18c"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "={{ $json.CleanTitle }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        320,
        -144
      ],
      "id": "33aa65ad-fc80-482a-bbb0-db369554d27a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=D:\\\\Emory\\\\AI Automation\\\\Negotiations Content\\\\{{ $binary.data.fileName }}.{{ $binary.data.fileExtension }}",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        544,
        -144
      ],
      "id": "90c10b97-73f8-4295-a599-8b687f826a24",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "// Get the Title from the first input item\nlet title = $input.first().json.info.Title || \"\";\n\n// Remove all special characters (keep letters, numbers, and spaces)\ntitle = title.replace(/[^a-zA-Z0-9 ]/g, \"\");\n\n// Return the modified title\nreturn {\n  json: {\n    CleanTitle: title,\n    metadata: $input.first().json.metadata,\n    text: $input.first().json.text\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -144
      ],
      "id": "acb81bae-b1b2-47bf-b282-1b5caf80d5e7",
      "name": "Clean up Title"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Clean up Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean up Title": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ed38aced-a7eb-4ad3-87e5-d9a30e0e5b55",
  "triggerCount": 0,
  "tags": []
}